.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

header {
    margin-top: 2em;
}

.codeblock {
    margin: 1em;
}

.codeblock pre {
    background: #d3d3d3;
    padding: 1.5em;
    text-align: left;
    overflow: auto;
    width: 80vw;
}

header {
    font-size: 2.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
}

.choices {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    font-size: 2rem;
}
